h1 {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #29e942; 
}
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}